<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Commerce @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-topcancel" style="border-radius: 0px; ">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/admin/dashboard" class="navbar-brand admin-navbar-atag">Dashboard</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a class="admin-navbar-atag" href="~/Admin/Pages/">Pages</a></li>
                    <li><a class="admin-navbar-atag" href="~/Admin/Pages/EditSidebar">Sidebar</a></li>
                    <li><a class="admin-navbar-atag" href="~/Admin/Shop/Categories">Categories</a></li>
                    <li><a class="admin-navbar-atag" href="~/Admin/Shop/Products">Products</a></li>
                </ul>
                <ul class="navbar-right">
                    <li><a href="/" class="navbar-brand admin-navbar-atag " target="_blank">E-Commerce Website</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <!--  Make sure to place your own bundles below jQuery and bootstrap bundles  -->
    @Scripts.Render("~/bundles/admin")
    @RenderSection("scripts", required: false)
</body>
</html>
